.headerCalendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .txtDate {
    font-size: 24;
    font-weight: 500;
  }

  .groupBtn {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .btn {
    border-radius: 5px;
    background: transparent;
    border: 0.5px solid gray; 
    .txtBtn {
      color: gray;
    }
  }


}
