.cell {
  $size: 55px;
  position: relative;
  text-align: center;
  border-radius: 0.5rem;
  align-items: center;
  min-height: $size;
  min-width: $size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #fff1df;
  }

  p {
    margin-bottom: 0;
    font-size: 13px;
  }

  ~ &.today {
    background-color: #03a9f4a1;

    .txtCell {
      color: white;
    }
  }

  // .faded {}

  .txtCell {
    text-align: center;
    color: #6a6a6a;
  }

  .cellTxtWeek {
    text-align: center;
    font-weight: 500;
    color: darksalmon;
  }

  .txtFaded {
    color: #9e9e9ec7;
  }

  .txtLunar {
    font-size: 12px;
    color: #dee2e6;
    position: absolute;
    bottom: 10%;
    right: 10%;
    ~ &.firstDayOfMonth {
      color: orangered;
      font-weight: 600;
    }
  }
}
