.cell {
  position: relative;
  text-align: center;
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  height: 100%;

  ~ &.active {
    .txtCell {
      color: white;
    }
    background-color: #03a9f4;
    &:hover {
      background-color: #03a9f4e8;
    }
  }

  &:hover {
    background-color: #03a9f4a1;
  }

  p {
    margin-bottom: 0;
    font-size: 13px;
  }

  ~ &.today {
    background-color: #00ced1a3;

    .txtCell {
      color: white;
    }
  }

  .txtCell {
    text-align: center;
    color: #6a6a6a;
    margin-bottom: 0.8rem;
  }

  .cellTxtWeek {
    text-align: center;
    font-weight: 500;
    color: darksalmon;
  }

  .txtFaded {
    color: #9e9e9ec7;
  }

  .txtLunar {
    font-size: 12px;
    color: #dee2e6;
    position: absolute;
    bottom: 10%;
    right: 10%;
    ~ &.firstDayOfMonth {
      color: orangered;
      font-weight: 600;
    }
  }
}
