.cell {
  text-align: center;
  border-radius: 0.5rem;
  align-items: center;
  min-height: 45px;
  min-width: 45px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.today {
  background-color: #fff1df;
}

// .faded {}

.txtCell {
  text-align: center;
}

.cellTxtWeek {
  text-align: center;
}

.txtFaded {
  color: #dee2e6;
}

.txtLunar {
  font-size: 12px;
  color: #dee2e6;
  width: 100%;
  text-align: right;
  margin-right: 10px;
}
