.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  .txtDate {
    font-size: 24;
    font-weight: 500;
  }

  .groupBtn {
    display: flex;
    flex-direction: row;
  }

  .btn {
    margin: 0.5rem;
    border-radius: 0.5rem;
    color: black;
  }

  .txtBtn {
    color: 'gray';
  }
}
