.calendar {
  box-shadow: 0 8px 8px 0 #6797ff1c, 0 12px 18px 0 #6797ff1c;
  padding: 1rem;
  border-radius: 8px;
  margin: 2rem 0;
  width: 600px;
  background: white;
  @media (max-width: 578px) {
    width: fit-content;
  }
}
